In [83]:
import pandas as pd
import matplotlib.pyplot as plt

In [84]:
df = pd.read_csv(
    "pedidos_delivery_13000.csv",
    sep=";",
    encoding="latin1"
)


display(df.head(10))

,id_pedido,cliente,restaurante,categoria,data_pedido,valor_pedido,taxa_entrega,desconto,quantidade_itens,forma_pagamento,status,cidade
0,1,Cliente_549,Churrasco Grill,Hamburguer,03/09/2024,42.85,8.85,NaN,4,Pix,Entregue,Belo Horizonte
1,2,Cliente_1543,Cantina Italiana,Pizza,06/10/2024,39.07,4.33,10.0,4,Dinheiro,Saiu para entrega,Salvador
2,3,Cliente_2650,Tempero Caseiro,Hamburguer,08/02/2024,76.21,10.11,5.0,2,pix,Em preparo,Salvador
3,4,Cliente_1466,Pastel & Cia,Churrasco,12-23-2024,102.64,5.14,5.0,3,Cartao Debito,Entregue,Curitiba
4,5,Cliente_2387,Tempero Caseiro,AÃ§ai,07/12/2024,29.39,3.08,5.0,4,Dinheiro,Cancelado,Curitiba
5,6,Cliente_575,Pizza_Mania,Brasileira,16/10/2024,52.50,10.72,NaN,3,Cartao Debito,Em preparo,Salvador
6,7,Cliente_698,Tempero Caseiro,Brasileira,21/02/2024,79.92,6.29,5.0,2,Dinheiro,Entregue,Curitiba
7,8,Cliente_951,Tempero Caseiro,Brasileira,27/01/2024,30.34,13.65,10.0,3,pix,Entregue,SÃ£o Paulo
8,9,Cliente_876,Cantina Italiana,Salgados,08/09/2024,81.14,7.83,NaN,3,Pix,Cancelado,Belo Horizonte
9,10,Cliente_918,Churrasco Grill,Hamburguer,03/09/2024,28.99,7.99,5.0,2,CartÃ£o CrÃ©dito,Cancelado,Belo Horizonte

In [85]:
df["restaurante"] = df["restaurante"].astype("str").str.strip().str.title()
df["restaurante"] = df["restaurante"].str.replace(r"\s*-\s*", "", regex=True)
df["restaurante"] = df["restaurante"].str.replace(r"\s*_\s*", " ", regex=True)

df["categoria"] = df["categoria"].str.replace(r"\s*Ã§\s*", "ç", regex=True)
df["categoria"] = df["categoria"].str.replace(r"\s*@\s*", "ç", regex=True)
df["categoria"] = df["categoria"].str.replace(r"\s*Açai\s*", "Açaí", regex=True)
df["categoria"] = df["categoria"].str.replace(r"\s*Pizzç\s*", "Pizza", regex=True)

df["forma_pagamento"] = df["forma_pagamento"].str.replace(r"\s*pix\s*", "Pix", regex=True)
df["forma_pagamento"] = df["forma_pagamento"].str.replace(r"\s*Ã£\s*", "ã", regex=True)
df["forma_pagamento"] = df["forma_pagamento"].str.replace(r"\s*Ã©\s*", "é", regex=True)
df["forma_pagamento"] = df["forma_pagamento"].str.replace(r"CartaoDébito", "Cartão Débito", regex=True)

df["cidade"] = df["cidade"].str.replace(r"\s*Ã£\s*", "ã", regex=True)

#display(df["cidade"].unique())
list(df.columns)

['id_pedido',
 'cliente',
 'restaurante',
 'categoria',
 'data_pedido',
 'valor_pedido',
 'taxa_entrega',
 'desconto',
 'quantidade_itens',
 'forma_pagamento',
 'status',
 'cidade']

In [ ]:
def converter_data(data_pedido):

    try:
        return pd.to_datetime(data_pedido, format="%d/%m/%Y")
    except:
        try:
            return pd.to_datetime(data_pedido, format="%Y-%m-%d")
        except:
            try:
                return pd.to_datetime(data_pedido, format="%m-%d-%Y")          
            except:
                return pd.NaT

df["data_pedido"] = df["data_pedido"].astype("str")

df["data_pedido"] = df["data_pedido"].str.strip().apply(converter_data)

#display(df["data_pedido"].unique())
#display(df[df["data_pedido"].isna()])
display(df.info())

#objeto transformar para string e desconto vazio, coloca zero

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13050 entries, 0 to 13049
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_pedido         13050 non-null  int64
 1   cliente           13050 non-null  object
 2   restaurante       13050 non-null  object
 3   categoria         13050 non-null  object
 4   data_pedido       13050 non-null  datetime64[ns]
 5   valor_pedido      13050 non-null  float64
 6   taxa_entrega      13050 non-null  float64
 7   desconto          9771 non-null   float64
 8   quantidade_itens  13050 non-null  int64
 9   forma_pagamento   13050 non-null  object
 10  status            13050 non-null  object
 11  cidade            13050 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 1.2+ MB

None